.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-style: normal;
  }

/* shared style */
h4{
    font-size: 20px;
    font-weight: 600;
    color: darkgrey;
}
.secondery-bg{
    background-color: #F1F1F3;
}
.btn:hover{
    background-color: #175f24;
    color: #df2c2c;
}
.btn-p{
    background-color: white;
    font-weight: bold;
    color: #085616;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    border: #a8ceaf;
}

.text-c{
    text-align: center;
}
.s-t{
    margin: 80px 160px;
    font-size: 40px;
}
.s-d{
    margin: 20px 160px;
    font-size: 18px;
    color: #757575;
    padding-bottom: 20px;
}




  /* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}
.n-t{
    font-weight: 600;
    font-size: 20px;
}    

/* banner styles */
header{
    position: relative;
    clip-path: polygon(5%, 95%, 95%, 95% );
}
h1{
    font-size: 40px;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 100px 80px;
    background-color: #C6E4D6;
}
.b-c{
    margin-right: 64px;
    max-width: 400px;
}

/* pillar styles */
.pillar{
    padding: 20px;
}
.p-t{
    font-size: 18px;
    margin-bottom: 10px;
}
.ps{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.p-s{
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    clip-path: polygon(5%, 95%, 95%, 95% );
}
.p-d{
    justify-content: center;
    font-size: 14px;
    color: #666666;
    line-height: 1.5
}
.icon{
    justify-items: left;
    width: 50px;
    margin-bottom: 10px;
}
 /* vision styles */
 .vision{
    border-radius: 10px;
    padding: 130px 150px;
}
.vs-is{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.vs-i{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    clip-path: polygon(5%, 95%, 95%, 95% );
}
.a{
    background-color: blanchedalmond;
}
.b{
    background-color: tomato;
}
.c{
    background-color: rgb(175, 91, 30);
}
.btn-a:hover{
    background-color: rgb(232, 171, 79);
    color: white;
}
.btn-a{
    background-color: white;
    font-weight: bold;
    color: rgb(232, 171, 79);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    border: #a8ceaf;
}
.btn-b:hover{
    background-color: rgb(205, 115, 100);
    color: white;
}
.btn-b{
    background-color: white;
    font-weight: bold;
    color: rgb(205, 115, 100);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    border: #a8ceaf;
}
.btn-c:hover{
    background-color: rgb(197, 117, 60);
    color: white;
}
.btn-c{
    background-color: white;
    font-weight: bold;
    color: rgb(197, 117, 60);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    border: #a8ceaf;
}


/* quote styles */
.quote{
    margin: 70px 25px;
    background-color: white;
    padding: 100px 80px;
}
.q-d{
    font-size: 20px;
    gap: 5px;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
}
.q-p{
    font-size: 35px;
}


/* question styles */
.s1{
    border: 5px solid black;
    padding: 24px;
    background-color: #C6E4D6;
}
.td{
    border: 1px solid black;
    padding: 20px 20px;
}
.ss{
    border-collapse: collapse;
    padding: 24px;
}
.table{
    background-color: white;
    padding: 100px 80px;
    max-width: 1000px;
}
.opn{
    margin: 120px;
}
.o-h{
    font-size: 45px;
}

